<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração - Pesquisa de Máquinas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="header-admin">
        <div class="menu-toggle">
            <button id="toggleButton">☰</button>
        </div>
        <nav id="sideMenu" class="side-menu">
            <ul>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/etiquetas">Etiquetas</a></li>
                <li><a href="/maquina">Maquinas</a></li>
            </ul>
        </nav>
        <div class="logo-empresa"> <img src="{{ url_for('static', filename='images/portobello_logo.png') }}"
                alt="Logo da Empresa">
        </div>
    </header>

    <div class="container-admin">
        <form action="{{ url_for('admin') }}" method="POST">
            <label for="id_maquina"><strong>Pesquisar por ID da Máquina:</strong></label>
            <input type="text" id="id_maquina" name="id_maquina" required placeholder="Digite o ID da máquina">
            <button type="submit">Pesquisar</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggleButton = document.getElementById('toggleButton');
            const sideMenu = document.getElementById('sideMenu');

            toggleButton.addEventListener('click', function () {
                if (sideMenu.style.left === '-260px') {
                    sideMenu.style.left = '0';
                } else {
                    sideMenu.style.left = '-260px';
                }
            });
        });
    </script>
</body>

</html>